<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @user_task.task_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_task.string %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_task.status %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_task.string %>
</p>

<p>
  <strong>Result:</strong>
  <%= @user_task.result %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user_task.text %>
</p>

<p>
  <strong>Info:</strong>
  <%= @user_task.info %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user_task.text %>
</p>

<%= link_to 'Edit', edit_user_task_path(@user_task) %> |
<%= link_to 'Back', user_tasks_path %>
