<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_template.name %>
</p>

<p>
  <strong>Historyenabled:</strong>
  <%= @task_template.historyenabled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_template.description %>
</p>

<p>
  <strong>Stopcode:</strong>
  <%= @task_template.stopcode %>
</p>

<p>
  <strong>Resultcode:</strong>
  <%= @task_template.resultcode %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @task_template.dir %>
</p>

<p>
  <strong>Nfs:</strong>
  <%= @task_template.nfs %>
</p>

<p>
  <strong>Checkpoint:</strong>
  <%= @task_template.checkpoint %>
</p>

<p>
  <strong>Logpath:</strong>
  <%= @task_template.logPath %>
</p>

<p>
  <strong>Lognfs:</strong>
  <%= @task_template.logNfs %>
</p>

<p>
  <strong>Logepk:</strong>
  <%= @task_template.logEpk %>
</p>

<p>
  <strong>Logcluster:</strong>
  <%= @task_template.logCluster %>
</p>

<p>
  <strong>Lognode:</strong>
  <%= @task_template.logNode %>
</p>

<p>
  <strong>Portioncluster:</strong>
  <%= @task_template.portionCluster %>
</p>

<p>
  <strong>Portionnode:</strong>
  <%= @task_template.portionNode %>
</p>

<p>
  <strong>Portionprogram:</strong>
  <%= @task_template.portionProgram %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @task_template.parameters %>
</p>

<p>
  <strong>Parametersdescription:</strong>
  <%= @task_template.parametersDescription %>
</p>

<p>
  <strong>Profiles:</strong>
  <%= @task_template.profiles %>
</p>

<p>
  <strong>Profilesdescription:</strong>
  <%= @task_template.profilesDescription %>
</p>

<p>
  <strong>Passportname:</strong>
  <%= @task_template.passportName %>
</p>

<p>
  <strong>Procnum:</strong>
  <%= @task_template.procNum %>
</p>

<p>
  <strong>Maxtime:</strong>
  <%= @task_template.maxTime %>
</p>

<p>
  <strong>Taskname:</strong>
  <%= @task_template.taskName %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @task_template.userId %>
</p>

<%= link_to 'Edit', edit_task_template_path(@task_template) %> |
<%= link_to 'Back', task_templates_path %>
