<p id="notice"><%= notice %></p>

<p>
  <strong>Taskname:</strong>
  <%= @template.taskName %>
</p>

<p>
  <strong>Taskdescription:</strong>
  <%= @template.taskDescription %>
</p>

<p>
  <strong>Passportname:</strong>
  <%= @template.passportName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Procnum:</strong>
  <%= @template.procNum %>
</p>

<p>
  <strong>Maxtime:</strong>
  <%= @template.maxTime %>
</p>

<p>
  <strong>Historyenabled:</strong>
  <%= @template.historyenabled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @template.description %>
</p>

<p>
  <strong>Stopcode:</strong>
  <%= @template.stopcode %>
</p>

<p>
  <strong>Resultcode:</strong>
  <%= @template.resultcode %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @template.dir %>
</p>

<p>
  <strong>Nfs:</strong>
  <%= @template.nfs %>
</p>

<p>
  <strong>Checkpoint:</strong>
  <%= @template.checkpoint %>
</p>

<p>
  <strong>Logpath:</strong>
  <%= @template.logPath %>
</p>

<p>
  <strong>Lognfs:</strong>
  <%= @template.logNfs %>
</p>

<p>
  <strong>Logepk:</strong>
  <%= @template.logEpk %>
</p>

<p>
  <strong>Logcluster:</strong>
  <%= @template.logCluster %>
</p>

<p>
  <strong>Lognode:</strong>
  <%= @template.logNode %>
</p>

<p>
  <strong>Portioncluster:</strong>
  <%= @template.portionCluster %>
</p>

<p>
  <strong>Portionnode:</strong>
  <%= @template.portionNode %>
</p>

<p>
  <strong>Portionprogram:</strong>
  <%= @template.portionProgram %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @template.parameters %>
</p>

<p>
  <strong>Parametersdescription:</strong>
  <%= @template.parametersDescription %>
</p>

<p>
  <strong>Profiles:</strong>
  <%= @template.profiles %>
</p>

<p>
  <strong>Profilesdescription:</strong>
  <%= @template.profilesDescription %>
</p>

<p>
  <strong>Otherparams:</strong>
  <%= @template.otherParams %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @template.userId %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
